.hp_left {

    @include at-least(medium) {
        width: calc(100% - 300px);
    }
    @include at-least(large) {
        width: calc(100% - 400px);
    }
}

.hp_right {
    @include up-to(medium) {
        .structure-infos {
            display: none;
        }
    }
    @include at-least(medium) {
        width: 250px;
    }
    @include at-least(large) {
        width: 350px;
    }
}



/*
    Structure_name aside
*/

.structure-infos {
    padding: $marge;
    transition: transform .4s, top .2s;
    position: sticky;
    top: 400px;
    background-color: $gray;
    color: $white;
    border-radius: 15px;

    @include up-to(medium) {
        background: none;
        padding-top: $space_top * 1.5;
    }
}