$space_top: 150px;




// Main

.site-main {
    margin-top: $space_top;
}

// Single post

.single_post {
    .container-title-post {
        margin-left: -130px;
        z-index: 100;
        background: $white;
    }
}

// Cards

.item_title {
    @include center-block;
    background: $white;
    margin-top: - $marge * 3;
    padding: 20px;
    position: relative;
    z-index: 9999;
    width: 75%;
}

.item_related {
    background: $gray;
    position: relative;
    padding: 0 $marge / 1.5 $marge / 1.5 $marge / 1.5;

    .item_related_type {
        width: 50%;
        background: $white;
        margin: auto;
    }

    .item_related_date {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*
 shortcuts aside
 */

.shortcuts {
    position: fixed;
    max-width: $space_left;
    padding: $marge;
    left: 0;

    hr {
        width: 60px;
    }
}

/*
    Structure_name aside
*/

.structure-infos {
    position: fixed;
    max-width: $space_left;
    padding: $marge;
    right: 0;
}