



// Breadcrumb

.breadcrumb {
    z-index: 99999;
    background: #e8e8e8;
    color: #909090;
    position: fixed;
    left: 0;
    right: 0;
    transition: top .4s;

    @include at-least(medium) {
        padding-left: $space_left;
        top: 100px;
        padding-top: 50px;
    }
    @include up-to(medium) {
        padding-left: 125px;
        top: 100px;
        padding-top: 30px;
    }
}

// Main

.site-main {
    transition: all .4s;
    padding-top: 250px;

    .home & {
        @include at-least(medium) {
            padding-top: calc(50vh + 200px);
        }

        @include up-to(medium) {
            padding-top: $space_top;
        }
    }

    @include up-to(medium) {
        padding-bottom: $marge * 3;
    }
    @include at-least(medium) {
                
        .home .scrolling & {
            padding-top: 400px;
        }
    }

}
.scrolling {
    .header-alert {
        min-height: 0;
    }
    .breadcrumb {
        top: 55px;
    }
    .header-banner {
        height: 0;
    }

    @include at-least(medium) {
        .shortcuts {
            top: 250px;
        }
        .structure-infos {
            top: 150px;
        }
    }


}

// Single post

.single_cover {
    align-items: flex-start;

    @include at-least(medium) {
        .container-title-post {
            margin-left: -75px;
            z-index: 100;
            background: $white;
            box-shadow: -12px -9px 10px #00000012;
        }
    }
}

// Cards

.item_title {
    @include center-block;
    background: $white;
    margin-top: - $marge * 3;
    padding: 20px;
    position: relative;
    z-index: 9999;
    width: 75%;
}

.item_related {
    background: $gray;
    position: relative;
    padding: 0 $marge / 1.5 $marge / 1.5 $marge / 1.5;

    @include up-to(medium) {
        margin-bottom: $marge_medium;
    }

    .item_related_type {
        width: 50%;
        background: $white;
        margin: auto;
    }

    .item_related_date {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*
 shortcuts aside
 */

.shortcuts {
    position: fixed;
    padding: $marge $marge;
    left: 0;
    transition: transform .4s;
    z-index: 99999;
    transition: all .4s;

    hr {
        width: 60px;
    }

    @include at-least(large) {
        width: $space_left;
    }

    @include up-to(large) {
        transform: translateY(100vh);
        background-color: gray;
        color: white;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: $space_top * 1.5;
    }

    &.open {
        transform: none;
    }

}




@import "home";