.DS_Store
/htdocs/wp-config.php
/htdocs/node_modules/
/htdocs/wp-content/themes/samois_theme/node_modules/
/.DS_Store
/samois.code-workspace
/htdocs/wp-content/uploads
/htdocs/wp-content/cache

/htdocs/.htaccess
/htdocs/wp-content/uploads/2022/01/Blason_SAMOISsS_RVB_typo_noir_BD.png
/htdocs/wp-content/uploads/2022/01/Blason_SAMOISsS_RVB_trace_noir_BD.png
/htdocs/wp-content/updraft/log.c2651a8908f5.txt
/htdocs/wp-content/updraft/backup_2022-12-29-1728_Mairie_de_Samois_sur_Seine_ad3ede265d23-uploads2.zip.tmp
/htdocs/wp-content/updraft/backup_2022-12-29-1728_Mairie_de_Samois_sur_Seine_ad3ede265d23-uploads.zip.list.tmp
/htdocs/wp-content/updraft/log.ad3ede265d23.txt
/htdocs/wp-content/updraft/log.16bf2470f89e.txt
/htdocs/wp-content/updraft/backup_2022-12-29-1728_Mairie_de_Samois_sur_Seine_ad3ede265d23-uploads.zip
/htdocs/wp-content/cache/busting/index.html
/htdocs/wp-content/cache/min/index.html
/htdocs/wp-content/advanced-cache.php
/htdocs/wp-content/cache/wp-rocket/index.html
/htdocs/wp-content/cache/critical-css/index.html
