



$cols: 20;

$mobile_first:                      true !default; 
$minimal_breakpoint:                300px !default; 
$medium_breakpoint:                 800px !default; 
$large_breakpoint:                  1200px !default; 
$wide_breakpoint:                   1550px !default; 

$max-width: 2000px;
$marge_wrapper: 40px;
$marge_wrapper--mobile: 20px;




@import "mixins/mixins";

@import "variables/structure";


@import "variables/colors";
@import "variables/typography";
