.site-main{
    margin-top: 150px;
    width: 80%;
    margin-left: 200px;
    color: black;
}
.site-footer{
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 30px;
    width: 80%;
    color: black;
}
a{
    color: inherit;
    text-decoration: none;
}
.header-container{
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0 4px 2px -2px gray;
    background-color: white;
    z-index: 999999;
}

.header-container .header-branding{
    position: absolute;
    top: 10px;
    left: 30px;
}

.header-container .header-branding img{
    width: 120px;
}

.header-container .header-alert{
    display: flex;
    justify-content: end;
    padding: 30px 0px ;
}

.header-container .header-alert .alert-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    width: 50%;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    border-radius: 15px;
}
.header-container .header-banner{
    overflow: hidden;
    height: 172px;
}
.header-container .header-banner figure{
    margin: 0;
}
.header-container .header-banner figure img{
    width: auto;
    height: 100%;
}
.header-container .nav-links{
    display: flex;
    align-items: baseline;
    margin-left: 200px;
    padding: 10px 0;
}

.header-container .nav-links > i{
    margin-right: 15px;
}



.header-container .navigation-links ul li{
    margin: 0 30px 0 0;
}

.site-footer .search-container p, .site-footer p{
    margin: 0px;
}
.site-footer .search-container .searchform{ 
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 10px;
}
.site-footer .search-container .searchform input{
    border: none;
    outline: none;
    width: 100%;
}

.site-footer .search-container .searchform button{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}

.site-footer .section-search, .site-footer .news-infos{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.site-footer .news-infos form label{
    display: block;
}


.site-footer .news-infos .form-newsletter button{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}

.site-footer .news-infos .form-newsletter input{
    border: none;
    outline: none;
    width: 100%;
}

.site-footer .news-infos .form-newsletter{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 10px;
    margin-bottom: 15px;
}



.social-qrcode img{
    height: 113px;
}


.social{
    display: inline-block;
    align-self: flex-end;
}

.qrcode i {
    font-size: 125px;
}

.footer_links{
    width: 40%;
    border-left: 2px solid rgb(168, 168, 168);
    padding-left: 10px;
}

.adresse-hourly-link h3{
    margin-top: 0;
}

.logo-footer figure {
    text-align: end;
}