
// GRID
// https://css-tricks.com/snippets/css/complete-guide-grid/


.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat($cols, minmax(0, calc(1fr - 20px) ) );
    grid-template-columns: repeat($cols, 1fr);
    grid-row-gap: 0;

    @include at-least(medium) {
        grid-column-gap: $marge_wrapper;
    }
    @include up-to(medium) {
        grid-column-gap: 20px;
    }
}


.m_last {
    grid-row-end: $cols;
}



@mixin parse-columns($suffix: ''){

        .#{$suffix}_0col {
            display: none;
        }
        .#{$suffix}_hide {
            display: none;
        }
        .#{$suffix}_show {
            display: block;
        }
        
        @for $i from 1 through $cols {

            .#{$suffix}_#{$i}col {
                grid-column: span #{$i};
                max-width: 100%;
                display: block;
            }

        }
}

.col_start_2 {
    @include at-least(medium) {
        grid-column-start: 2 !important;
        grid-column-end: 12 !important;
    }
}




@include at-least(minimal) {
    @include parse-columns('s');
}
@include at-least(medium) {
    @include parse-columns('m');
}
@include at-least(large) {
    @include parse-columns('l');
}
@include at-least(wide) {
    @include parse-columns('w');
}
