
.bloc_event {
    padding: 20px 0;

    .block_title, .arrow {
        color: $secondary_color;
    }

    a:hover {
        color: inherit;

        .block_title, .arrow {
            color: $tertiary_color;
        }
    }


}


.bloc_post {
    img {
        width: 100%;
        object-fit: cover;
    }
}



.bloc-search {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
  }