



$cols: 12;

$mobile_first:                      true !default; 
$minimal_breakpoint:                300px !default; 
$medium_breakpoint:                 800px !default; 
$large_breakpoint:                  1200px !default; 
$wide_breakpoint:                   1550px !default; 

$max-width: 1600px;
$marge_wrapper: 40px;



@import "mixins/mixins";

@import "variables/structure";
@import "variables/grid";

@import "variables/colors";

