
.header-container{
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0 4px 2px -2px gray;
    background-color: white;
    z-index: 999999;
}

.header-container .header-branding{
    position: absolute;
    top: 13px;
    left: 60px;
}

.site_logo {
    width: 120px;
}





.nav-container {
    display: flex;
    align-items: baseline;
    margin-left: $space_left;
    padding: 10px 0;

    i {
        margin-right: 15px;
    }

    li {
        margin: 0 30px 0 0;
    }
}






/*
 Homepage banner
 */

    .header-banner {

        @include at-least(medium) {
            overflow: hidden;
            height: 172px;

            figure {
                margin: 0;
            }
    
            figure img {
                width: auto;
                height: 100%;
            }
        }

        @include up-to(medium) {
            display: none;
        }

    }



/*
 Alert bloc
 */

    .header-container .header-alert {
        padding: 30px 0px;
    }

    .header-alert .alert-container{
        min-width: 50%;
    }