/*
 * DROPDOWN THÉMATIQUES
 */

.nav_thematiques {
    position: absolute;
    padding: 40px 0;
    left: 0;
    right: 0;
    background-color: $secondary_color;
    transform: translateY(-100%);
    transition: transform .4s;
    z-index: 99999;

	.wrapper {
		padding-left: $space_left / 2;
	}
	a {
		color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    &.open {
        transform: none;
    }

    @include up-to(medium) {
        height: 100vh;
        overflow: scroll;
        padding-bottom: 200px;

        ul {
            flex-direction: column;
        }
        .wrapper {
            padding-left: 0;
        }

    }

    .menu-item-has-children {
        padding: $marge 0;

        @include up-to(medium) {
            border-bottom: 1px solid white;
        }

        @include at-least(medium) {
            flex: 1;
            text-align: center;

            &:not(:last-child) {
                border-right: 1px solid #ffffff63;
            }
        }

        &>a {
            font-size: 2rem;
        }
    }

    .sub-menu {

        a {
            font-size: 1.6rem;
            display: inline-block;

            @include up-to(medium) {
                padding: 5px 20px;
            }

            @include at-least(medium) {
                padding: 5px 0;
            }
        }
    }
}


.searchbar_wrapper {
    position: absolute;
    left: $space_left;
    padding: 10px 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity .4s;
    z-index: 9999;

    @include up-to(medium) {
        background-color: $secondary_color;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding-top: $space_top * 1.5;
        padding-bottom: $space_top / 2;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
        
        .structure-infos {
            background: none;
            padding: 60px 0 0 0;
        }

        & > * {
            width: 90% !important;
        }
    }

    @include at-least(medium) {
        left: $space_left * 0.6;
    }
    @include at-least(large) {
        left: $space_left;
    }
    &.open {
        opacity: 1;
        transform: none;
    }

    .searchform {
        width: 415px;
        box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            100px 100px 80px rgba(0, 0, 0, 0.07);

    }
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {

    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
    }

    .nav-links {
        display: flex;
    }

    .nav-previous {
        flex: 1 0 50%;
    }

    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}