a {
	color: $secondary_color;

	&:visited {
		color: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		color: $secondary_color;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
