p {
    margin-top: 0;
	margin-bottom: 1.5em;
}

.p1 {
	font-size: 1.4rem;
}
.p2 {
	font-size: 2rem;
}


.copy {
	a {
		color: $secondary_color;
		text-decoration: underline;
	}
	a:hover {
		color: $tertiary_color;
	}

	figure {
		a {
			border: none;
			box-shadow: none;
		}
		margin-bottom: 40px;
	}

	img {
		margin: 5px 0;
	}

	.gallery {
		margin-bottom: 0;
	}

	table {
		border: 1px solid #ddd;
		width: 100%;
		margin-bottom: 30px;
		border-spacing: 0;

		tr:not(:last-child) {
			td {
				border-bottom: 1px solid #ececec;
			}
		}
		tr:nth-child(odd) {
			background-color: #fff48678;
		}
		tr:first-child {
			background-color: #d7d7d7;
		}
		td {
			padding: 10px;
			text-align: center;
		}
	}

}









dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $gray;
	font-family: $font__pre;
	line-height: $font__lh;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

