p {
    margin-top: 0;
	margin-bottom: 1.5em;
}

.p1 {
	font-size: 1.4rem;
}
.p2 {
	font-size: 2rem;
}


.copy {
	a {
		border-bottom: 1px solid $secondary_color;
	}
}









dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $gray;
	font-family: $font__pre;
	line-height: $font__lh;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

