@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
// stylelint-disable value-keyword-case
$font__main: 'Poppins', sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__lh: 1.6;


html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	line-height: $font__lh;
	font-family: $font__main;
	color: $black;

}


@import "headings";
@import "copy";
