@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


@font-face{
	font-family:"Grover";
	src:url("assets/Fonts/5638463/7e19922b-cd6b-4b9b-918f-c950b1e91955.woff2") format("woff2"),url("Fonts/5638463/f6612a10-854c-4ecd-8793-b78d577d3431.woff") format("woff");
	font-weight: 400;
}
@font-face{
	font-family:"Grover";
	src:url("assets/Fonts/5638472/6fd6f39f-f81d-4885-9adc-f3d851f29d42.woff2") format("woff2"),url("Fonts/5638472/a9b7f312-2986-425d-8fff-032f0942c113.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family:"Grover";
	src:url("assets/Fonts/5638477/070a68d8-32a4-4771-b924-5b0479361b2a.woff2") format("woff2"),url("Fonts/5638477/2dfe0c91-0c04-48bc-8f81-f84e89180269.woff") format("woff");
	font-weight: 700;
}
@font-face{
	font-family:"Grover";
	src:url("assets/Fonts/5638486/0b9d42c6-e7dc-4b75-b5ff-e838b7708beb.woff2") format("woff2"),url("Fonts/5638486/890ea3f3-a1d4-4b41-8eae-7db056927eb2.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}


// stylelint-disable value-keyword-case
$font__main: 'Grover', sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__lh: 1.6;


html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	line-height: $font__lh;
	font-family: $font__main;
	color: $black;

	@include up-to(medium) {
		hyphens: auto;
	}
}


@import "headings";
@import "copy";
